RaGAN/*.npy
RaGAN/*.model
RaGAN/output
RaGAN/output_dcgan_128
RaGAN/output_dcgan_256
RaGAN/output_getchu_2
RaGAN/output_getchu_128
RaGAN/output_getchu_256
RaGAN/output_regularizer_128
DCGAN/*.npy
DCGAN/*.model
DCGAN/dataset
DCGAN/output
DCGAN/output_full
DCGAN/output_getchu
DCGAN/vector
DRAGAN/*.model
DRAGAN/output
DRAGAN/output_dragan_128
DRAGAN/output_getchu
DRAGAN/output_getchu_128
spectral_normalization/*.npy
spectral_normalization/output
spectral_normalization/output_getchu